/* You can add global styles to this file, and also import other style files */
:root {
    --blue-1: #3c429E;
    --blue-2: #4d4d50;
    --yellow-1: #FAC742;
    --white-1: #FFF;
    --grey-1: #EDEDED;
    --shadow-dark: rbga(0, 0, 0, 0.3);
    --shadow-light: rgba(255, 255, 255, 0.1);
}

/* Remove margin and padding from all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Entire page view */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: var(--blue-1);
    
/* Center the container*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 80vh;
    background-color: var(--blue-2);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
}